In [11]:
import numpy as np
import pandas as pd

In [13]:
from numpy.random import randn

In [2]:
# Index levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [14]:
df = pd.DataFrame(randn(6,2), hier_index,['A','B'])

In [15]:
df

             A         B
G1 1  0.302468  0.704874
   2  0.384555 -0.312952
   3 -0.896971 -1.168788
G2 1 -0.430803 -0.722555
   2  0.011703  0.372731
   3 -2.028383 -1.855660

In [17]:
df.loc['G1'].loc[1]

A    0.302468
B    0.704874
Name: 1, dtype: float64

In [19]:
df.index.names = ['Groups','Num']

In [20]:
df

                   A         B
Groups Num
G1     1    0.302468  0.704874
       2    0.384555 -0.312952
       3   -0.896971 -1.168788
G2     1   -0.430803 -0.722555
       2    0.011703  0.372731
       3   -2.028383 -1.855660

In [22]:
df.loc['G2'].loc[2]['B']

np.float64(0.37273116738115053)

In [23]:
#Example: Selecting G1 3B
df.loc['G1'].loc[3]['B']

np.float64(-1.1687883493932734)

In [24]:
df

                   A         B
Groups Num
G1     1    0.302468  0.704874
       2    0.384555 -0.312952
       3   -0.896971 -1.168788
G2     1   -0.430803 -0.722555
       2    0.011703  0.372731
       3   -2.028383 -1.855660

In [25]:
df.xs('G1')

            A         B
Num
1    0.302468  0.704874
2    0.384555 -0.312952
3   -0.896971 -1.168788

In [26]:
# Cross section is useful for this example
df.xs(1,level='Num')

               A         B
Groups
G1      0.302468  0.704874
G2     -0.430803 -0.722555